body {
    background-image: url("/bg-img.png");
}

#name {
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #053f28;
    text-align: center;
    justify-content: center;
}

#title {
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #053f28;
    text-align: center;
    justify-content: center;
}

#search {
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #053f28;
    text-align: center;
    justify-content: center;
    margin-right: 0.5px;
    padding: 10px 24px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.btn {
    background-color: #053f28;
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: 0.5px;
}